---
extends: default

ignore: |-2
  build/kube-prometheus/libraries
  k8s/kbm.obmondo.com/argocd-helm-charts/**/charts
  **/templates/**
  .git/**

rules:
  line-length: disable
  document-start: false
  indentation: false
  comments:
    ignore: |-2
      **/Chart.yaml
      **/values.yaml

# Local Variables:
# mode: yaml
# End:
